/* Reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Site wide styling */

html {
    font-family: "Dancing Script", cursive;

    /* background-image: url("/images/farmers-market-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

html,
body,
#root {
    padding-bottom: 3%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-img {
    max-width: 100px;
    max-height: 50px;
}

/* --- Authentication --- */

/* Auth links */
.auth-link {
    cursor: pointer;
}

/* Logout */
.logout {
    position: absolute;
    z-index: 500;
    top: 3%;
    right: 3%;
}

/* --- Home Page --- */
.home {
    width: 95vw;
    height: 90vh;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.home--content {
    height: 100%;
}

.home--tabs {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.home--tabs-tab {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: all 0.3s ease-in-out;
}

.selected {
}

.not-selected {
}

/* --- Landing Page --- */
.landing {
    width: 100vw;
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3ec84;
}

.landing--splash {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.landing--splash p {
    text-align: center;
    padding-left: 3%;
    max-width: 600px;
    font-size: 1.5em;
}

.landing--splash h2 {
    text-align: center;
    padding-left: 3%;
    max-width: 600px;
    font-size: 2.5em;
}

.landing--auth-links {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.landing--auth-links p {
    margin-left: 15%;
    font-size: 1.5em;
    border-radius: 12px;
    box-shadow: 7px 7px 5px rgba(128, 102, 0, 0.5);
    padding: 1.5%;
}

/* Landing Responsive */
@media (max-width: 963px) {
    .landing--splash {
        flex-direction: column;
    }
}

/* --- Log in & Sign up forms --- */
.form--auth {
    min-width: 400px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form--auth-label {
    width: 100%;
}

.form--auth-login {
    width: auto;
    border-radius: 12px;
    box-shadow: 7px 7px 5px rgba(128, 102, 0, 0.5);
    padding: 1.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    transition: all 100ms ease-out;
}

.form--auth-login:hover {
    font-size: 1.2em;
    background-color: rgba(128, 102, 0, 0.5);
    color: white;
}

.form--auth-label-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form--auth-label-input label {
    font-size: larger;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}

.form--auth-label-input label input {
    box-shadow: rgba(0, 0, 0, 0.5);
    padding: 1%;
}

/* --- Modal --- */
.visible {
    visibility: hidden;
}

.modal--content {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 201;
    border-radius: 15px;
    border: 3px solid white;
}

.modal--backdrop {
    width: 200vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal--close {
    font-size: 2em;
    justify-self: flex-end;
    align-self: start;
    cursor: pointer;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

/* --- Profile --- */
.profile {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% 75%;
    height: 90%;
}

.profile--dashboard {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.profile--dashboard-personal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
}

.profile--dashboard-personal_img {
    max-width: 200px;
    max-height: 200px;
}

.profile--dashboard-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow-y: scroll;
}

.profile--dashboard-nav_item {
    padding: 1%;
    width: 75%;
    height: auto;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 1);
}

.profile--dashboard-nav_item:hover {
    cursor: pointer;
}

.profile--content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}
