/* Reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Site wide styling */

html {
    background-image: url("/images/farmers-market-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body,
#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Authentication --- */

/* Auth links */
.auth-link {
    text-decoration: underline;
    cursor: pointer;
}

/* Logout */
.logout {
    position: absolute;
    z-index: 500;
    top: 3%;
    right: 3%;
}

/* --- Home Page --- */
.home {
    width: 90vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.8);
}

.home--tabs {
    margin-top: -3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.home--tabs-tab {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 2em;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.selected {
    border-top: 3px solid green;
    border-left: 3px solid green;
    border-right: 3px solid green;
}

.not-selected {
    border-bottom: 1px solid green;
}

/* --- Landing Page --- */
.landing {
    width: 60vw;
    height: 80vh;
    border: 1px solid green;
    border-radius: 15px;
    padding: 3%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

/* --- Log in & Sign up forms --- */
.form--auth {
    padding: 3%;
    width: 40vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Modal --- */
.visible {
    visibility: hidden;
}

.modal--content {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 201;
    border-radius: 15px;
    border: 3px solid white;
}

.modal--backdrop {
    width: 200vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal--close {
    font-size: 2em;
    justify-self: flex-end;
    align-self: start;
    cursor: pointer;
}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

/* --- Profile --- */
.profile {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% 70%;
}
